{% extends "base.html" %}

{% block app_content %}

{% if title %}
<h3>{{ title }}</h3>
{% endif %}

{{ wtf.quick_form(form) }}

{% if message %}
<h4>{{ message }}</h4>
{% endif%}

{% if result %}

<br />

<h4>{{ result|length }} Result(s):</h4>

<br />

<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>time</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>depth</th>
        <th>mag</th>
        <th>gap</th>
        <th>id</th>
        <th>place</th>
        <th>locationSource</th>
    </tr>
    {% for entity in result %}
    <tr>
        <td>{{ entity.time }}</td>
        <td>{{ entity.latitude }}</td>
        <td>{{ entity.longitude }}</td>
        <td>{{ entity.depth }}</td>
        <td>{{ entity.mag }}</td>
        <td>{{ entity.gap }}</td>
        <td>{{ entity.id }}</td>
        <td>{{ entity.place }}</td>
        <td>{{ entity.locationSource }}</td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}